@import url(http://fonts.googleapis.com/css?family=Roboto);

$primaryColor:   #00ff00;
$accentColor:    #00ffff;
$bgColor:        #222222;
$darkBgColor:    darken($bgColor, 8%);
$lightBgColor:   lighten($bgColor, 8%);
$lightTextColor: #cccccc;
$darkTextColor:  #212121;

body {
   height: 100%;
   // browsers default to 16px for font-size,
   // so setting top-level font-size to 62.5%
   // scales 1rem to equal 10px.
   font: 62.5% 'Roboto', sans-serif;
   
   background-color: $bgColor;
}

