<navbar></navbar>
<section>
  <h2>About me</h2>

  
  <p>Hi, my name is Max, but on the internet I prefer to be called InDieTasten, which is German for something like 'onto those keys' as-in mashing your keyboard.</p>
  
  <h4>How I got started</h4>
  <p>
    I'm 20 years old(2016) and started using computers at about the age of 8.
    When I was 11(12?) years old, I got my first laptop, which was a Windows Vista machine back then.
    That time around I also started to get into coding. My first ever program was a hello-world-program written in C.
    I followed a YouTube video on how to do it.
  </p>
  <p>
    I was so interested in doing it, that I didn't even notice how little I did myself.
    I paused the tutorial videos every 5 seconds to try to keep up with what was going on.
    Sadly, I don't remember the feeling, when I first 'achieved' the milestone of a running hello world program.
  </p>
  <p>
    Apart from some more interesting programs like a text-based calculator program that could add, subtract, multiply and devide integral numbers,
    I did not dive into this any further for that time of my life. I guess playing football and Rollercoaster Tycoon with friends robbed the focus of my day to day schedule.
  <p/>
  <p>
    Shortly after, though, I could not resist to take another shot. This time good old Visual Basic as Forms Application. I clicked together a bunch of funny little things.
    Annoyingly stupid games, and maybe a fake virus or two to freak out my dad, though never did I actually pull those off. I wonder why though. Should've done it. ^^
    But as fun as they were the first few weeks, after exploring the 'interesting' things (in the mind of a kid) I lost interest in VB, but to the rescue came it's predecessor?!
  </p>
  <p>
    So in 7th or 8th grade I took a class in computer science, which was a great class.
    This is the time, from which I know I started to understand what I have been writing a couple years back. We learned QBasic.
    You know... that ugly thing where everyone was still using GOTO directives, even though sub routines were already a thing.
    So I learned about conditions, loops, jumping, screen modes and drawing, input and output of text and all those crazy things.
    We didn't use sub-routines, but I guess the paradigm wasn't necessary for the scope of the class and would've confused us at that point.
    The coolest thing about the class however was the project we had to make. Your grade was determined mostly of how good your own game was in regards to some aspects.
    Spelling, Grammar, Idea, Length, and whether there was some form of graphics. And I took that project to my heart. I spent maybe 100 hours on that game.
    (That was probably as much time as all others projects combined and you could see it.)
    At the end of the day, the A was safe, and I created a game that took too long to present in class without knowing the exact path of actions you had to take in order to finish the game.
    I actually found the binaries a couple months back on a flash drive from that time. I made a Let's Play of the game, which took me over an hour to complete.
    It contains some bugs, but they ain't too bad considering I was that young and just learned the language. And it's mostly spelling and one graphical glitch,
    where I forgot to reset the front color for text from green to white.
  </p>
  <p>
    Shortly after that class I began to think about making my first real game in a real language (not those stupid 16 binaries anymore that require you to run the stuff in DosBox).
    The Adventure Of Space, renamed to [Untitled Game], renamed to EXP - Expanded Exploration was an attempt over many years to actually pull it off using C++ and SFML.
    I failed often, and I failed hard. I cleared the codebase about 6 or so times. And the scope of the project was just too much. I wanted space simulation. I wanted inventories.
    I wanted a rich GUI that I wanted to write myself. I wanted modding support using Lua. All in all, it was doomed to fail, but I was stupid and young. I think we all had those visions
    at some point or another.
    So 2015 I decided to pause the project and let it rest for some other projects, that have been distracting me, which were much smaller and much more fun.
    Creating clones of simple games. I first did Doodle Jump, then Connect4, which even supported local multiplayer AND remote multiplayer, again, in C++ and SFML.
    I learned a lot about SFML and how to use it effectively, as those small projects allowed me to do a little bit of everything. With EXP I merely started with 2 aspects and then the
    bulk load of work and problems stopped me from continuing.
  </p>
  <p>
    At about the same period as the EXP project, or maybe even earlier, I got very good at a thing called ComputerCraft. It's a mod for Minecraft, that basically adds programmable
    computers into the game, that you could place in your world and let it do things. I had a hard time finding any good tutorials in German, so I watched English to learn how things work.
    That worked pretty well, and since I started YouTube long before I thought. I might as well just create a German tutorial series on ComputerCraft for those, who don't understand the English ones.
    This is how my channel grew enourmously. From ~40 to almost 200 subs. That was huge for me. Though I wasn't patient enough and expected an even larger audience than that. So I stopped from lacking motivation.
  </p>
  <p>
    So now the last part on my story of how I got where I am today regarding development: Vocational college as IT Assistant followed by my currently ongoing pursuit of an apprenticeship
    to become a full-blown IT Specialist for Application Development.
  </p>
  <p>
    And although I have little to no professional experience (1yr), I consider myself a great developer. My hobby-ist experience starting from when I was a kid gives me a very nice advantage to those,
    who do not have such story to tell. Whose stories consists of only the previous paragraph.
  </p>
  ~InDieTasten
</section>
